# Xcode
#//
#//  ViewController.swift
#//  PrimeiroApp
#//
#//  Created by COTEMIG on 18/02/19.
#//  Copyright © 2019 COTEMIG. All rights reserved.
#//

import UIKit
#class the view controller
class ViewController: UIViewController {
    
#Links in the elements is view controller   
    @IBOutlet weak var txtn1: UITextField!
    
    @IBOutlet weak var lblresultado: UILabel!
    
    @IBAction func btncalcular(_ sender: UIButton) {
  #declarations variables this calculator      
        let n1 = Double(txtn1.text!)
        let n2 = Double(2.0)
        var total : Double = 0
  #calculing       
        total = n1! * n2
   #showing result     
        lblresultado.text = String(total)
    }
    

    override func viewDidLoad() {
        super.viewDidLoad()
        // Do any additional setup after loading the view, typically from a nib.
    }

    override func didReceiveMemoryWarning() {
        super.didReceiveMemoryWarning()
        // Dispose of any resources that can be recreated.
    }


}

